<style>
    * {
        color: black !important;
    }

</style>
*
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The app made by:Sapir Kroitoro ,Omer Mazal,Amichai Vollin,Ben Rotlevi.</p>
