<style>
    * {
        color: black !important;
    }
</style>
*
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The app made by:Amichai Wollin,Sapir Kroitoro ,Omer Mazal,Benjamin Rotlevy.</p>
